<body>
  <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th colspan="2">Datos del proceso</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Argumentos de entrada</th>
        <td><%= argsEntrada %></td>
      </tr>
      <tr>
        <th scope="row">Nombre de la plataforma</th>
        <td><%= sistOperativo %></td>
      </tr>
      <tr>
        <th scope="row">Version de Node.js</th>
        <td><%= node%></td>
      </tr>
      <tr>
        <th scope="row">Memoria total reservada (rss)</th>
        <td><%= rss %></td>
      </tr>
      <tr>
        <th scope="row">Path de ejecución</th>
        <td><%= pathEjecucion %></td>
      </tr>
      <tr>
        <th scope="row">Process id</th>
        <td><%= pid %></td>
      </tr>
      <tr>
        <th scope="row">Carpeta del proyecto</th>
        <td><%= carpetaProyecto %></td>
      </tr>
    </tbody>
  </table>
</body>